
.voucher-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .voucher-section input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .voucher-section button {
    padding: 10px;
    background-color: rgb(249, 115, 67);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  