*{
  margin: 0;
  padding: 0;
}
#parent{
  display: flex;
  justify-content: space-around;
  
}
#nav{
  display: flex;
  justify-content:space-between;
  
}
#parent>#leftDiv{
 border: 1px solid black;
 width: 70%;
 height: auto;
 padding: 30px;
}
#parent>#rightDiv{
  border: 1px solid rgb(214, 12, 12);
  width: 30%;
  height: auto;
  padding: 30px;
 }
 
 


 #allFilter{
  margin-top: 25px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;

}


 .filters{
  display: flex;
  gap: 5px;
  
border-radius: 5px;
  background-color: white;
  padding: 15px;
 }
 .filters>img{
width: 15%;
padding: 5px;
background-color: rgb(255, 255, 255);
border-radius: 20%;

}


#nav>button{
  width: 5%;
  border: 1px solid rgb(201, 35, 35);
 }
 #nav>#first{
  width: 70%;
 }
#first{
  border:1px solid red ;
  display: flex;
}
 #first>input{
  width: 100%;
  height: 25px;
  padding: 10px;
 }
 #first>button{
  padding: 15px;
  width: 100px;
  
  background-color: rgb(249, 115, 67);
  color: white;

 }
 
 .filters:hover{
  background-color: #8BABD3;
  color: white;
 }


 #iteams{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
 }
 #iteams>.products{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
 }
 .products>img{
  width: 100%;
  border-radius: 5px;
 }



 #rightDiv{
  background-color: white;
 }